* {
    box-sizing: border-box;
    /* transition: all 0.5s; 
    -webkit-transition: all 0.5s; 
    -moz-transition: all 0.5s; */
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    vertical-align: baseline;
    background: transparent;
}

h3 {
    margin: 0 !important;
}


   
::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #2a91cd;
}



a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* most used */
/* colors */
.white-text {
    color: white !important;
}

.blue-text {
    color: #2a91cd;
}

.gray-text {
    color: #85898b;
}

/* bacgroundcolors */
.gray-bg {
    background-color: #a0a8ac;
}

.blue-bg {
    background-color: #2a91cd;
}

.green-bg {
    background-color: #a5c75b;
}

.red-bg {
    background-color: #ab181e;
}

.black-bg {
    background-color: black;
}

.white-bg {
    background-color: white;
}

.Bold {
    font-weight: bold;
}


.blue {
    position: fixed;
    top: 0;
    background: blue;
    width: 100%;
    height: 70px;
}

@font-face {
    font-family: 'lato_light';
    src: url(../fonts/lato/Lato-Light.ttf);
}

@font-face {
    font-family: 'lato_Regular';
    src: url(../fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: 'lato_italic';
    src: url(../fonts/lato/Lato-Italic.ttf);
}

@font-face {
    font-family: 'lato_Bold';
    src: url(../fonts/lato/Lato-Bold.ttf);
}



button:focus {
    background-color: transparent !important;
}

.latolight {
    font-family: 'lato_light';
}

.latoregular {
    font-family: 'lato_Regular';
}

.latoBold {
    font-family: 'lato_Bold';
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

/* start fixed elemnts */
#panel {
    width: 100%;
    position: fixed;
    top: 64px;
    right: 0;
    z-index: 99999999999999999;
    display:none;
   
}

#panel::after {
    right: 16%;
    content: "";
    position: fixed;
    top: 48px;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    transform: rotate(180deg);
    opacity: 0.902;
}

#mainMenu {
    width: 118px;
    height: 120px;
    position: absolute;
    background-color: #a8151c;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menuItem {
    width: 118px;
    height: 120px;
   
    z-index: 999999999999999;
    background-color: #000;
    opacity: 0.902;
    width: calc(100% - 118px);
    color: white;
}

.menuItem .menuDetails {
    padding: 14px;
}

.menuItem .menuDetails h6 {
    line-height: 24px;
    font-weight: bold;
}

.menuItem .menuDetails h6:hover {
    color: #2a91cd;
    cursor: pointer;
}

.menuItem .menuDetails p {
    font-size: 13px;
    line-height: 15px;
}

.menueitemBlock {
    margin: 14px auto;
}

.toggle-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.open {
    position: relative;
}

.open::before {
    content: "\f039";
    font-family: 'FontAwesome';
    display: block;
    font-size: 30px;
}

.close {
    position: relative;
}

.close::before {
    content: "\f00d";
    font-family: 'FontAwesome';
    display: block;
    font-size: 30px;
}

.socialIcon {
    position: fixed;
    z-index: 999999;
    right: 0;
    top: calc((100vh - 164px) / 2);
    color: #fff;
}

.socialIcon a {
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all 0.5s; -webkit-transition: all 0.5s; -moz-transition: all 0.5s
}

.socialIcon a:hover {
    transform: scale(1.1);
}

.facebook {
    background: #3B5998;
}

.twitter {
    background: #55ACEE;
}

.google {
    background: #dd4b39;
}

.linkedin {
    background: #007bb5;
}

.navMenu li {
    padding-right: 10px;
    margin-top: 9px;

}

.navMenu a {
    display: inline-block;
    padding: 0px;
    border-radius: 50%;
}

.openClose {
    background-color: #aa181e;
    color: white;
    padding: 10px 10px;
    text-align: center;
    width: 119px;
    display: inline-block;


}



/* start slider section */
.carousel-section {
    background-image: url('../images/background/sliderBg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel.carousel-slider-Block {
    min-height: 100vh !important;
}

nav {
    box-shadow: none;
    position: absolute;
    z-index: 999;
    background-color: transparent;
}

.brand-logo img {
    height: 24px;

}

nav ul li i {

    float: left;
    background-position: center;
    display: block;
    background-size: 59%;
    width: 31px;
    height: 31px !important;
    border-radius: 50%;
    background-repeat: no-repeat;

}

.navMenu a {
    display: inline-block;
    padding: 0px;
    border-radius: 50%;
}

nav ul li {
    padding: 0px;
}

nav ul li .menu {
    background-image: url(../images/icons/Menu.png);
}

nav ul li .userIcon {
    background-image: url(../images/icons/user.png);
}

nav ul li .menuBar {
    background-image: url(../images/icons/menubar.png);
}

nav ul li .contactUs {
    background-image: url(../images/icons/contactus.png);
}


nav .button-collapse i {
    color: black;
}

.scrolltoWhite {
    position: fixed;
    top: 0;
    background-color: transparent;
    
    width: 100%;
    height: 70px;
    z-index: 9999;
      transition: all 0.5s; 
    -webkit-transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    

}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #a5c75b;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0px 14px;
    position: absolute;
    z-index: 1;
    top: 43px;
    left: -32%;
    margin-left: -106px;
    opacity: 1;
    transition: opacity 0.3s;
    width: 150px;
    font-size: 18px;
    height: 36px;
    line-height: 2;
    font-style: normal;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: -9px;
    left: 89%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #a5c75b transparent transparent transparent;
    transform: rotate(180deg);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* end navbar */
/* start carousel */
.carousel.carousel-slider-prouducts  .indicators {
    left: auto !important;
    bottom: 46% !important;
    transform: rotate(90deg);
}
.carousel .indicators .indicator-item.active {
    background-color: #a5c75b !important;
    border: 1px solid white;
}

.carousel .indicators .indicator-item {
    background-color: white !important;
}

.carousel .indicators .indicator-item {
    height: 12px !important;
    width: 12px !important;
}

.carousel.carousel-slider-Block .carousel-section {
    display: flex !important;
    justify-content: center;
    align-items: flex-end;
}

.caption {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}


.carousel .carousel-section .caption p {
    max-width: 576px;
    line-height: 20px;
}

.carousel .carousel-section .caption h5 {
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 39px;
    margin-bottom: 28px;

}

/* end slider section*/



/* start our teamvalue */
.teamValueBlock {
    padding: 47px 0px;
}

.teamValueHeader {
    margin-bottom: 38px;
}

.teamValueHeader p {
    line-height: 31px;
}

.brainImg {
    background-image: url('../images/brain.png');
    background-size: 100% 100%;
    height: 500px;
    width: 500px;
    position: relative;
    z-index: 998;
}

.BrainImgBlock {
    padding: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.tabs {
    position: unset;
    height: auto;
    width: 100%;
    background: none;
}

.tabs .indicator {
    height: 0px;
}

.BrainImgBlock .tabs .tab:nth-child(1) {
    top: 23px;
    left: -16px;
    z-index: 999999;
}

.BrainImgBlock .tabs .tab:nth-child(2) {
    top: -20px;
    left: 124px;
}

.BrainImgBlock .tabs .tab:nth-child(3) {
    top: -5px;
    left: 270px;
}

.BrainImgBlock .tabs .tab:nth-child(4) {
    top: 105px;
    left: 393px;
}

.tabs li.tab:nth-child(1) a.active.tablinks::after {
    content: "";
    height: 238px;
    width: 162px;
    background-color: transparent;
    position: absolute;
    border-style: dashed;
    border-right: none;
    border-bottom: none;
    border-color: #a8a8a8;
    top: 21px;
    right: 105%;

}

.tabs li.tab:nth-child(2) a.active.tablinks::after {
    content: "";
    height: 282px;
    width: 322px;
    background-color: transparent;
    position: absolute;
    border-style: dashed;
    border-right: none;
    border-bottom: none;
    border-color: #a8a8a8;
    top: 23px;
    right: 52px;
}

.tabs li.tab:nth-child(3) a.active.tablinks::after {
    content: "";
    height: 267px;
    width: 468px;
    background-color: transparent;
    position: absolute;
    border-style: dashed;
    border-right: none;
    border-bottom: none;
    border-color: #a8a8a8;
    top: 24px;
    right: 51px;
}

.tabs li.tab:nth-child(4) a.active.tablinks::after {
    content: "";
    height: 164px;
    width: 602px;
    background-color: transparent;
    position: absolute;
    border-style: dashed;
    border-right: none;
    border-bottom: none;
    border-color: #a8a8a8;
    top: 16px;
    right: 52px;
}

.tabcontent {
    padding: 6px 12px;
    position: relative;

}

.tabcontent h1 {
    text-transform: uppercase;
    font-size: 40px;
    width: 174px;
    position: absolute;
    top: -36px;

}

.tabcontent h1 span {
    color: white;
}

.tabcontent p {
    width: 50%;
    line-height: 20px;
    margin-top: 62px;
}

.tab a {
    background-color: white !important;
    border: 1.5px solid #2a91cd;
    border-radius: 50px;
    display: block;
    padding: 1px 6px !important;
    overflow: visible !important;
}

.BrainImgBlock i {
    height: 45px;
    display: block;
    background-size: 100%;
    width: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  background-size: 79%;
    background-position: center;
    /* background-color: #a0a8ac; */
}

.tabs li.tab:nth-child(1) a i {
    background-image: url(../images/icons/brainicon.png);
}

.tabs li.tab:nth-child(2) a i {
    background-image: url(../images/icons/coding.png);
}

.tabs li.tab:nth-child(3) a i {
    background-image: url(../images/icons/usergroup.png);
}

.tabs li.tab:nth-child(4) a i {
    background-image: url(../images/icons/brainicon.png);
}
.BrainImgBlock ul li a:hover {
    background-color: #a5c75b !important;
    transition: all 0.7s; -webkit-transition: all 0.7s; -moz-transition: all 0.7s;
}

.BrainImgBlock i:hover {
    /* background-color: white; */
}

.BrainImgBlock i:nth-child(2) {
    background-image: url('../images/icons/usergroup.png');
}

.BrainImgBlock i:nth-child(3) {
    background-image: url('../images/icons/brainicon.png');

}

.BrainImgBlock i:nth-child(4) {
    background-image: url('../images/icons/coding.png');
}

.tab {
    position: absolute;
}

.teamValueSection {
    margin-top: -235px;

}

.intelliscLogo {
    float: right;
    margin-top: -24px;
}

.intelliscLogo img {
    width: 159px;
}

.teamValueSection .teamValueDef {
    height: 87px;
    background-color: black;
    width: 100%;
}

/* end our team value */

/* start our services */
.servicesBock {
    /* padding: 0px 17px 0px 65px; */
    padding: 54px 0px 1px 0px;
    background-image: url('../images/background/services.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.col-Block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesHeader p {
    line-height: 31px;
}

.servicesHeade {
    margin-bottom: 21px;
}

.serviceContent {
    position: relative;
    width: 360px;
}

.servicesBox {
    position: relative;
    z-index: 1;
    padding: 10px 20px 10px 10px;
    font-size: 20px;
    position: relative;
    color: #FFF;
    background-color: #2a91cd;

}

.servicesBox::after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #2a91cd;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-48deg, 0deg);
}

.servicesBox::before {
    content: "";
    position: absolute;
    right: -63px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 52px 59px;
    border-color: transparent transparent #a5c75b transparent;
}

.servicesBox h6 {
    letter-spacing: 2px;
    margin-left: 85px;
}

.serviceDefntion p {
    font-size: 13px;
    margin-left: 91px;
    margin-top: 20px;
    line-height: 16px;
}

.serviceBlock {
    margin: 20px auto;
}

.serviceDefntion {
    width: 428px;
}

.serviceDefntion p {
    font-size: 13px;
    margin-left: 69px;
    margin-top: 20px;
    line-height: 16px;
}

.servicEDetails {
    background-color: #2a91cd;
    height: 50px;
    position: relative;
    width: 357px;
    z-index: 1;
}

.servicEDetails::after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #2a91cd;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-48deg, 0deg);
}

.servicEDetails::before {
    content: "";
    position: absolute;
    right: -63px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 52px 59px;
    border-color: transparent transparent #a5c75b transparent;
}

.iconBlock {
    display: inline-block;
    vertical-align: middle;
}

.serviceInfoHead {
    display: inline-block;
    width: 256px;
    width: 63%;
    margin-left: 20px;
}

.serviceIcon {
    border: 4px solid white;
    background-position: center;
    background-size: 45%;
    border-radius: 50%;
    background-repeat: no-repeat;
    height: 87px !important;
    width: 91px !important;
    display: block;
    margin-top: -22px;
    margin-left: -15px;

}

.flex-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.center-col {
    margin-left: 0px !important;
}

.rowBlock div.col-Block:nth-child(1) div.serviceBlock div.iconBlock i {
    background-image: url(../images/icons/mobile.png);

}

.rowBlock div.col-Block:nth-child(2) div.iconBlock i {
    background-image: url(../images/icons/lightbulb.png);

}

.rowBlock div.col-Block:nth-child(3) div.iconBlock i {
    background-image: url(../images/icons/messege.png);

}

.rowBlock div.col-Block:nth-child(4) div.iconBlock i {
    background-image: url('../images/icons/data.png');

}




.BtnBlock {
    text-align: center;
}

.readMoreBtn {
    border-radius: 6px;
    border: 1px solid #939292;
    padding: 16px 71px;
    background-color: transparent;
    font-weight: bold;
    box-shadow: inset 0 0 0 0 #2a91cd;
    -webkit-transition: ease-out 0.7s;
    -moz-transition: ease-out 0.7s;
    transition: ease-out 0.7s;

}

.readMoreBtn:focus {
    background-color: transparent !important;
}

.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #2a91cd;

}

.readMoreBtn:hover {
    color: white !important;
}

/* end our services */


/* start ourTeam section  */
.ourTeam {
    text-align: center;
    background-image: url('../images/background/greenbackground.png');
    background-size: cover;
    padding: 35px 0px;

}
.ourTeam .content{
    max-width: 650px;
    margin: auto;
}

.ourTeamHeader {
    margin-bottom: 32px;
}

.overlay {

    background-color: #89b03f4a;
    padding-top: 23px;
    padding-bottom: 51px;
    /* height: 276px; */
}

.ourTeamHeader h3 {
    line-height: 85px;
}

.ourTeamHeader p:nth-child(2) {
    line-height: 22px;
}

.availVacancBtn {
    border-radius: 6px;
    border: 1px solid white;
    padding: 14px 15px;
    background-color: transparent;
}

.availVacancBtn :focus {
    background-color: transparent !important;
}

.availVacancBtn span {
    border-radius: 50px;
    padding: 5px;
    margin-right: 9px;
    background-color: #ab181e;
    height: 120px;
}

/* end ourTeam section  */


/* start our products */
.productSlider {
    background-image: url('../images/background/blue-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 28px;

}

.carousel-slider-prouducts {
    min-height: 500px;
}

.mobilityDefn p:nth-child(2) {
    line-height: 19px;
}

.mobilityDefn p:nth-child(3) {
    line-height: 19px;
    margin-top: 10px;
}

.prouductsHeader p {
    line-height: 47px;
}

.mobilityDefn h5 {
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 28px;
    line-height: 48px;
}

.readMoreButton {
    border: 1px solid #fffafa !important;
    margin-bottom: 0px;

}

.appsstores {
    margin-top: 16px;
}

.appstoreimg {
    width: 104px;
}

.googleplayimg {
    width: 104px;
}

/* end our products */

/* start our partner */
.partnerBlock {
    padding-top: 44px;
    padding-bottom: 26px;
    background-color: #ececec;
    height: auto;
}

.partnerHeader {
    margin-bottom: 24px;
}

.logoImg {
    height: 149px;
    background: #fff;
    border: 1px solid #ddd;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    overflow: hidden;

}

.logoImg img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    transition: transform .5s;

}

.logoImg img:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
}

/* end our partner */

/* start requestDemo */
.requestDemoHeader {
    margin: 53px auto;
}

.mapBlock {
    background-image: url('../images/background/Map.png');
    background-size: 100%;
    position: relative;
    padding: 67px 0px;
    min-height: 900px;
}
.contactFormBlock{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 40px auto;
}
.contactForm {
    position: relative;
    min-height: 675px;
    border-radius: 5px;
    padding: 20px;
    width: auto;
   
    /* background-color: #ffffffd9; */
    background-color: #fffffffc;
}
.contactForm .row .col .s12 .m6
{
    padding-left: 25px !important;
    padding-right: 36px !important;
}
#map {
    min-height: 820px; 
    width: 100%;
   }

   #wrapper { position: relative; }

.userData {
    padding-left: 14px;
    padding-right: 20px;
}

.input-container {
    display: -ms-flexbox;
    /* IE10 */
    display: flex !important;
    width: 100% !important;

}
.emailMssg {
    background-image: url('../images/formicons/envelope.png');
}

.user {
    background-image: url('../images/formicons/username.png');
}

.mobilenum {
    background-image: url('../images/formicons/usermobile.png');
}

.helpMsg {
    background-image: url('../images/formicons/help.png');

}

.icon {
    padding: 10px !important;
    background: dodgerblue !important;
    color: white !important;
    min-width: 50px !important;
    text-align: center !important;
}

.input-field {
    width: 100% !important;
    padding: 10px !important;
    outline: none !important;
    text-indent: 32px;
    height: 32px !important;
}



/* .collaps {
    background-image: url(../images/icons/Collapse.png);
    position: absolute;
    background-position: center;
    background-size: 59%;
    width: 60px;
    height: 60px !important;
    background-repeat: no-repeat;
    right: 0;
    top: 13px;
    border-radius: 5px;
    cursor: pointer;

} */
.collaps{
    background-image: url(../images/icons/Collapse.png);
    position: absolute;
    background-position: center;
    background-size: 59%;
    width: 60px;
    height: 60px !important;
    background-repeat: no-repeat;
    right: 13.3%;
    top: 8%;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
}

.contact {
    margin-bottom: 45px;
}

.contctInfo>h5 {
    margin-bottom: 27px;
}

.intelliscOffice {
    line-height: 39px;
}
.contctInfo{
    padding-left: 20px;
}
.contctInfo p {
    line-height: 20px;
    /* width: 431px; */
    margin-bottom: 13px;
}

.contact .latoregular {
    line-height: 34px;
}

.required:after {
    content: "*";
    color: red;
    margin-left: 6px;
}

input:focus {
    outline: none !important;
}

input[type=text] {
    border-radius: 5px !important;
    background-color: white !important;
    border: 1px solid #d6dde2 !important;
    background-position: 8px 17px;
    background-repeat: no-repeat;
}

.input-container {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}



.textarea {
    width: 100%;
    height: 3rem;
    border-radius: 5px !important;
    background-color: white !important;
    border: 1px solid #d6dde2 !important;
    background-position: 8px 17px;
    background-repeat: no-repeat;
    resize: none;
    height: 169px !important;
    background-image: url('../images/formicons/')
}
.textarea:focus{
    border: none !important;
}

label {
    line-height: 29px;
    color: black !important;
    letter-spacing: 1px;
    font-size: 18px !important;
}

input[type=text]:focus {
    box-shadow: none !important;
}

.textarea {
    height: 189px !important;
}

input[type=submit] {
    width: 399px;
    background-color: #a5c75b;
    color: white;
    height: 79px;
    border-radius: 19px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 23px;
    border-radius: 19px;
    transition: all 0.5s; -webkit-transition: all 0.5s; -moz-transition: all 0.5s;
}

.submitBtn {
    text-align: center;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* start footer */
.footer-copyright a {
    margin: 20px auto;
    color: #d6dde2;
}
.footer-copyright .row{
    margin-bottom: 0px;
}

.footer-copyright span {
    color: #2a91cd;
}

.Copyright {
    padding: 20px 0px;
}

.Copyright .emailCompany {
    border-bottom: 1px solid #d6dde2;
    padding-bottom: 2px;
}

/* end footer */


/* ******************************************************************************************************************* */
/* media query */
@media (width: 320px) {

    .serviceContent .serviceIcon {
        bottom: 50%;
        height: 74px !important;
        width: 79px !important;
    }


    /* start our partner */
    .logoImg {
        height: 119px;
    }

    .carousel-slider-prouducts {
        height: 100vh !important;
    }

    .brainImg {
        height: 260px;

    }

}

@media (max-width: 575.98px) {

    /* start first secion slider */
    .carousel-section {
        background-size: 100% 100%;
    }

    /* end first section slider */
    /* our team values */
    .brainImg {
        /* height: 375px;
    width: 500px; */
        height: 335px;
        width: 282px;
    }

    .BrainImgBlock .tabs .tab:nth-child(1) {
        top: -31px;
        left: 58px;
    }

    .BrainImgBlock .tabs .tab:nth-child(2) {
        top: -1px;
        left: -27px;
    }

    .BrainImgBlock .tabs .tab:nth-child(3) {
        top: -19px;
        left: 144px;
    }

    .BrainImgBlock .tabs .tab:nth-child(4) {
        top: 51px;
        left: 225px;
    }

    .tabcontent p {
        width: 296px;
    }

    .teamValueSection {
        margin-top: 0px;
    }

    /* start our services */
    .servicEDetails {
        width: 224px;
    }

    .serviceInfoHead {
        width: 51%;
    }

    .serviceDefntion p {
        margin-left: 0;
    }

    .serviceDefntion {
        width: 285px;
    }

    /* end our services */

    /* start our prouducts Block */
    .appsstores {
        text-align: center;
    }

    .text-centerBtn {
        text-align: center;
    }

    .prouductsHeader h3 {
        font-size: 28px;
    }

    .carousel-slider-prouducts {
        height: 100vh !important;
    }

    .carousel-slider-prouducts .indicators {
        right: -23px !important;
    }

    /* end our prouducts Block */


    /* start our team */
    .ourTeamHeader h3 {
        font-size: 28px;
    }

    /* end our team */


    /* start partner block */
    .partnerHeader h3 {
        font-size: 26px;
    }

    /* end partner Block */


    /* start contact form */
    #mainMenu {
        display: none;
    }

    input[type=submit] {

        font-size: 22px;
        width: 79%;

    }

    .contctInfo>h5 {
        font-size: 18px;
        text-align: center;
    }

    label {
        font-size: 14px !important;
    }

    .requestDemoHeader h3 {
        font-size: 26px;
    }

    /* end  contact form */


    .carousel.carousel-slider .carousel-item p {
        font-size: 13px;
    }

    .collaps {
        display: none;
    }
}

/* 
// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* slider page */
    .carousel-section {
        background-size: 100% 100%;
    }

    .serviceContent .serviceIcon {
        bottom: 38%;
        height: 74px !important;
        width: 79px !important;
    }

    .servicesBox {
        padding: 16px;
    }

    /* start our partner */
    .logoImg {
        height: 119px;
    }

    /* contact form */
    input[type=submit] {

        font-size: 22px;
        width: 87%;

    }

    .carousel-slider-prouducts {
        height: 100vh !important;
    }

    .collaps {
        display: none;
    }
}



/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* slider page */
    .carousel-section {
        background-size: 100% 100%;
    }

    /* start our partner */
    .logoImg {
        height: 119px;
    }

    .carousel-slider-prouducts {
        min-height: 600px;
    }

    .collaps {
        display: none;
    }

    input[type=submit] {
        width: 296px;
    }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .carousel-section {
        background-size: 100% 100%;
    }

    .carousel-slider-prouducts {
        height: 547px !important;
    }

    .servicEDetails {
        width: 226px;
    }

    .serviceDefntion {
        width: 317px;

    }

    .serviceIcon {
        margin-top: -35px;
    }

    .serviceInfoHead {
        width: 55%;
    }

    input[type=submit] {
        width: 296px;
    }
}

@media (min-width: 1017px) and (max-width: 1412px) {
    .servicEDetails {
        /* width: 226px; */
        width: 250px;
    }

    .serviceDefntion {
        width: 317px;

    }

    .serviceInfoHead {
        width: 55%;
    }

    input[type=submit] {
        width: 296px;
    }

    .serviceIcon {
        margin-top: -35px;
    }
    .tabs li.tab:nth-child(1) a.active.tablinks::after{
        width: 30px;

    }
    .tabs li.tab:nth-child(2) a.active.tablinks::after
    {
        width: 160px;
    }
    .tabs li.tab:nth-child(3) a.active.tablinks::after
    {
        width: 303px;
    }
    .tabs li.tab:nth-child(4) a.active.tablinks::after
    {
        width: 408px;
    }
    
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}







        